html {
	background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}
.main {
	width: 1060px;
	margin: 0 auto;
	background: white;
	box-shadow: 0px 0px 8px 3px #bcbcbc;
}
.page {
	width: 966px;
	margin: 0 auto;
	padding: 30px 0;
}
h1 {
	font-size: 2.8em;
	margin-bottom: 30px;
	font-weight: normal;
}
.menu {
	display: block;
	background-color: #575656;
	height: 40px;
	margin:0 auto;
	color: white;
}
 li {
	display: inline-block;
	padding: 10px;
	margin-right: 50px;
}
.menu li:hover {
	background: #454545;
	border: 1px solid white;
	border-bottom: none;
	border-top: none;
	padding-bottom: 12px;
}
.sidebar {
	float:left;
	width: 270px;
}
.sidebar ul {
	border: 1px solid 	#c8c8c8;
	color: 	#787878;
	margin-top: 40px;
    padding-left: 0px;
}
.sidebar li {
	display: block;
	border-bottom: 1px solid #c8c8c8;
	text-decoration: none;
	margin: 0 auto;
}
.sidebar li:last-child{
	border-bottom: none;
}
.sidebar li:hover {
	color: black;
	text-align: center;
}
.bike {
	float: right;
	box-shadow: 0px 0px 0px 1px #c8c8c8;
	margin-top:40px; 
	margin-bottom: 40px;
}
 img {
	 width: 630px;
 }
.text {
	clear: both;
}
 p {
	width: 600px;
	font-size: 10pt;
	line-height: 1.5;
	color: #2c2c2c;
	margin-left: 360px;
	margin-bottom: 50px;
}
footer .menu2 {
	display: inline-block;
	background-color: #e1e1e1;
	height: 40px;
	margin: 0 auto;
	color: black;
	width: 925px;
}
.line:hover {
	text-decoration: underline;
}
.menu2:after {
	content: '2014©All rights reserved';
	margin: 180px;
}


